html, body {
	height: 100%;
	font-size: 13px;
	font-family: 'Ubuntu' !important;
}

hr {
    height: 2px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(128,128,128,0.5);
}

a a:hover, a:visited, a:link, a:active {
	color: #000000;
	text-decoration: none; 	
}

.app {
	display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
	display: -moz-box;      /* OLD: Firefox (buggy) */ 
	display: -ms-flexbox;   /* MID: IE 10 */
	display: -webkit-flex;  /* NEW, Chrome 21+ */
	display: flex;          /* NEW: Opera 12.1, Firefox 22+ */
	-webkit-flex-flow: row nowrap;
	-webkit-justify-content: center;
	-webkit-align-content: stretch;
	-webkit-align-items: stretch;
}

.app div.spacer {
	-webkit-flex: 2 1 auto;
	-webkit-align-self: auto;
	min-width: 0px;
	min-height: auto;
}

.app div.interface {
	-webkit-flex: 1 1 auto;
	-webkit-align-self: auto;
	min-width: 0px;
	min-height: auto;
	background-color: #ececec;
}

.app div.interface {
	display: -ms-inline-flexbox;   /* MID: IE 10 */
	display: -webkit-inline-flex;  /* NEW, Chrome 21+ */
	display: inline-flex;          /* NEW: Opera 12.1, Firefox 22+ */
}

.app div.interface div.facets {
	-webkit-flex: 1 1 auto;
	-webkit-align-self: auto;
	max-width: 250px;
	min-height: auto;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
	border: 1px solid #d3d3d3;
	background-color: #ececec;
}

.app div.interface div.applications {
	-webkit-flex: 2 1 auto;
	-webkit-align-self: auto;
	min-width: 0px;
	min-height: auto;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border: 1px solid #d3d3d3;
	background-color: #ececec;
}

.lookfor-margin {
	margin: 5px 0px 0px 5px;
}